

.mainImageContainer {
    position: relative;
}

.main-img {
    max-width: 100%;
    object-fit: contain;
}

.face-box-red {
    position: absolute;
    border: 3px solid red;
    background-color: transparent;
    cursor: pointer;
}

.face-box-blue {
    position: absolute;
    border: 3px solid blue;
    background-color: transparent;
    cursor: pointer;
}
.form-container {
    margin-left: 25%;
}
.search-form{
    display: flex;
    justify-content: center;
    margin: 100px 0px;
    box-sizing: border-box;
    width: 50%;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
  }

.button {
    display: flex;
    justify-content: flex-end;
}

.text-primary{
    background-color: whitesmoke;
}